<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>facebook</display-name>
  <welcome-file-list>
        <welcome-file>jsp/login/login.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.college.facebook.app.config.ConnectionListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/registration</url-pattern>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendFriendRequestController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.SendFriendRequestController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SendFriendRequestController</servlet-name>
        <url-pattern>/send</url-pattern>
        <url-pattern>/friends</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.LogoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.NotificationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/notification</url-pattern>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.PostController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.HomeController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/like</url-pattern>
        <url-pattern>/unlike</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyBlogController</servlet-name>
        <servlet-class>com.college.facebook.app.controller.MyBlogController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyBlogController</servlet-name>
        <url-pattern>/myblog</url-pattern>
        <url-pattern>/deletePost</url-pattern>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<display-name>DisplayImages</display-name>
		<servlet-name>DisplayImages</servlet-name>
		<servlet-class>com.college.facebook.app.controller.DisplayImages</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayImages</servlet-name>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>

</web-app>